.main {
    background-color: var(--bg-color);
}

.main h1 {
    text-align: start;
    font-weight: normal;
    color: var(--text-color);
}

.calendar_body {
    color: var(--text-color);
}

.add_button {
    display: flex;
    justify-content: start;
}

.add_button button {
    padding: 10px 50px 10px 50px;
}

@media only screen and (max-width: 768px) {
    .add_button {
        justify-content: center;
    }

    .main h1 {
        text-align: center;
    }
}