[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
  --secondary-bg-color: #e6e1e1f8;
}

[data-theme="dark"] {
  --bg-color: #161616;
  --text-color: #fff;
  --secondary-bg-color: #636363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}