.journal_container {
    padding: 1.2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 90vh;
}

.add_button {
    margin-top: 20px;
    border: 1px solid var(--secondary-bg-color);
}