.journal_container {
    padding: 1.2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 90vh;
}

.add_button {
    margin-top: 20px;
    border: 1px solid var(--secondary-bg-color);
}

.journalcard_header:hover {
    cursor: pointer;
    color: #0D6EFD;
}

.journalcard_container {
    padding: 15px 5px 5px 15px;
}