.navbar_container {
    background-color: var(--bg-color);
}

.theme_switch_container {
    color: var(--text-color);
}

.brand_text{
    color: var(--text-color);
    text-decoration: none;
}

.brand_text:hover{
    text-decoration: none;
}

.item_text {
    color: var(--text-color);
}