.todo_container {
    padding: 1.2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Search bar Section */

.search_form {
    border:0;
    background-color: var(--secondary-bg-color);
}

.search_bar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;

}

.text_input {
    background-color: var(--bg-color);
    border: 1px solid var(--secondary-bg-color);
    color: var(--text-color);
}

.submit_btn {
    background-color: purple;
    border:0;
}


@media only screen and (max-width: 768px) {
    .search_bar {
        flex-direction: column;
    }
}